<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.manage.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cheng.manage.model.Menu">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, parent_id, order_num, path, component, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark
    </sql>
    <!-- 根据角色查询菜单权限-->
    <select id="selectMenuByRoleId" resultMap="BaseResultMap">
        SELECT
            m.menu_id,
            menu_name,
            parent_id
        FROM
            sys_menu m
        LEFT JOIN sys_role_menu mr ON m.menu_id = mr.menu_id
        WHERE
            mr.role_id = #{roleId}
    </select>
    <select id="selectUserMenuList" resultType="com.cheng.manage.model.Menu">
        SELECT DISTINCT
            m.menu_id,
            m.menu_name,
            m.perms
        FROM
            sys_menu m
        LEFT JOIN sys_role_menu mr ON m.menu_id = mr.menu_id
        LEFT JOIN sys_user_role ur ON ur.role_id = mr.role_id
        WHERE
            m.menu_type = 'C' OR m.menu_type = 'F'
            AND ur.user_id = #{userId}
    </select>

    <select id="selectUserNavList" resultType="com.cheng.manage.model.Menu">
        SELECT DISTINCT
            m.menu_id,
            m.menu_name,
            m.perms,
            m.parent_id,
            m.order_num,
            m.path,
            m.component,
            m.icon,
            m.menu_type,
            m.visible
        FROM
            sys_menu m
                LEFT JOIN sys_role_menu mr ON m.menu_id = mr.menu_id
                LEFT JOIN sys_user_role ur ON ur.role_id = mr.role_id
        WHERE
            m.menu_type = 'M' OR m.menu_type = 'C'
            AND ur.user_id = #{userId}
        ORDER BY m.order_num
    </select>

</mapper>
