<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.manage.mapper.RoleMenuMapper">

    <delete id="deleteByRole">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>

    <delete id="deleteByMenu">
        delete from sys_role_menu where menuId = #{menuId}
    </delete>

    <select id="selectByMenuId" resultType="java.lang.Long">
        select menu_id from sys_role_menu where menu_id = #{menuId}
    </select>

    <insert id="addRoleMenu">
        insert into sys_role_menu(role_id, menu_id) values
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>
</mapper>
